<!DOCTYPE html>
<html>
<head>
    <title>Job Offers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>

</head>
<body>
<a href="../" class="myButton">Back to main</a>
This is the Courses Registraion page

</body>
</html>