<!DOCTYPE html>
<html ng-app="courseReg">
<head>
    <title>Course Reg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/courseRegScript.js" type="text/javascript"></script>

</head>
<body dir="rtl" ng-controller="CoureRegController as courseReg">


<a href="../" class="myButton">Back to main</a>

<center>  <h1> רשימת הקורסים</h1> </center><br><br>

<div class="squareDiv" ng-repeat="course in courseRegList">
    שם הקורס:
    {{course.name}}
    <br>
        פרטים
    <br>{{course.details}}
    </div>

<div class="register">
    <form ng-repeat="course in courseRegList">
        <label for="username"> Enter you name:</label>
        <input id="username" type="text">
        <label for="email"> Email: </label>
        <input id="email" type="email">
        <label for="tel"> Phone number: </label>
        <input id="tel" type="tel">
        <input type = "radio" value ="{{course.name}}">

    </form>
</div>




</body>
</html>