
<!DOCTYPE html>
<html ng-app="Index">
<head>
    <title>Seniors In Touchnology</title>
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/index.js" type="text/javascript"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Start google scripts -->

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1059144044451-tae81h5r7bje7cuptqnhu96dmllc125p.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- end google scripts -->


    <!-- Start boostrap scripts -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- end boostrap scripts -->

</head>


<body dir="rtl" ng-controller="IndexController as index" >

<!-- Start google scripts -->

<script>
    function onSignIn(googleUser) {

        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        /*console.log("ID: " + profile.getId()); // Don't send this directly to your server!
         console.log('Full Name: ' + profile.getName());
         console.log('Given Name: ' + profile.getGivenName());
         console.log('Family Name: ' + profile.getFamilyName());
         console.log("Image URL: " + profile.getImageUrl());
         console.log("Email: " + profile.getEmail());*/

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);

        if((MANAGERS.indexOf(profile.getEmail()) > -1))
        {
            console.log('LOGGING IN');
            LOGIN = true;
        }
        else
            signOut();
    };
</script>

<script>
    function signOut() {
        LOGIN = false;
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>

<!-- end google scripts -->

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<a href="#" onclick="signOut()" class="buttonPanel">יציאה</a>



<a href="panelManagement" class="btn btn-info" class="buttonPanel" ng-show="access">פאנל</a>
<div ng-show="isAdmin()">
    Hello
</div>

<img src="/stylesheets/logo.png" class="img-responsive" >
<li><hr></li>


<div class="container">


    <br>
    <div class="row">

        <div class="col-xs-6">

            <a href="jobOffers" class="thumbnail"><img src = "/stylesheets/jobs.jpg"></a>
        </div>


        <div class="col-xs-6">

            <a href="coursesReg" class="thumbnail"><img src = "/stylesheets/courses.png"></a>
        </div>


        <div class="col-xs-6">

            <a href="newsLettersMain" class="thumbnail"><img src = "/stylesheets/newsLe.png"></a>
        </div>
        <div class="col-xs-6">

            <a href="volunteersReg" class="thumbnail"><img src = "/stylesheets/vol.jpeg"></a>
        </div>

    </div>


</div>


<footer dir="rtl">
    טלפון: 1800-100-947 | אימייל: office@mtova.org.il | כתובת: בית יד שרה, שדרות הרצל 124 ירושלים
</footer>

</body>
</html>
