<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<header>
    <img src="<%= logo%>" height="100px" style="float: left;"/>
    <h1>Seniors In Touchnology</h1>
</header>
<nav>
    <marquee behavior="scroll" direction="up" scrollamount="1" height="398px">Excellent site, thank you for all your
        work!
    </marquee>
</nav>
<main>
    <center>
        <div class="rec">Job Offers</div>
        <div class="rec2">Newsletters</div>
        <div class="rec3">Courses Registration</div>
        <div class="rec4">Volunteering Registration</div>
    </center>
</main>
<footer dir="rtl">
    טלפון: 1800-100-947 | אימייל: office@mtova.org.il | כתובת: בית יד שרה, שדרות הרצל 124 ירושלים
</footer>
</body>
</html>
