<!DOCTYPE html>
<html ng-app="newsLetter">



<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="/javascripts/newsLetterScript.js" type="text/javascript"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/openSans/fontstyle.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />

    <title>עריכת ניוזליטרים</title>

</head>


<body  ng-controller="newsLetterController as newslet" dir="rtl">

<div class="container">

<a href="panelManagement" ><button type="button" class="btn btn-default">          חזרה לממשק הניהול  </button></a>


<div class="panelTitles">ניוזלטרים</div>
    <br>
    <hr>




    הוספת ניוזלטר חדש
    <br>


    <table class="table" dir="rtl">
        <tr>

            <td> שם</td>
            <td><input type="text" name="title" id="titleId" ng-model="newsLetterObj.title"></td>
        </tr>

        <tr>

            <td> קישור</td>

            <td>  <input type="text" name="description" id="linkId" ng-model="newsLetterObj.link"></textarea> </td>
        </tr>
    </table>

    <button type="button" class="btn-lg btn-success"  ng-click="addNewsLetter()"  id="cmdAdd" >הוספה</button>


    <hr>
    רשימת ניוזליטרים קיימים <br>


    <table class="table" dir="rtl">
        <tr><th>   שם</th><th> קישור</th> <th>עדכון</th> <th>מחיקה</th></tr>
        <tr ng-repeat="nl in newsLetterList">
            <td>{{nl.title}}</td> <td>{{nl.link}}</td> <td>    <a href="#updNews"><button type="button" class="btn-xs btn-info" ng-click="showUpdateNewsLetter(nl)">עדכן</button></a></td><td>    <button type="button" class="btn-xs btn-danger" id="delNl" ng-click="delObj(nl)">מחק</button> </td>

        </tr>
    </table>



    <div  id="updNews" ng-show="newsLetterupdObj.show" >

        <br><br>           עדכון
        <table class="table" dir="rtl">


            <tr>

                <td> שם</td>
                <td><input type="text" id="titleId" ng-model="newsLetterupdObj.title">  </td>
            </tr>

            <tr>

                <td> לינק</td>

                <td> <input type="text" name="description" id="linkId" ng-model="newsLetterupdObj.link"></td>
        </table>

        <button type="button" class="btn-lg btn-success" ng-click="updateNewsLetter()" id="cmdUpd" >        עדכן</button>
    </div>




    </div>
    </body>

    </html>


